*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body,.App{
  background-color: rgb(12, 4, 43);
  color: rgb(243, 219, 248);
  height: 100vh;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}


.dasbord{
  margin: 8px;
  padding: 4px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.473);
  color: rgb(255, 255, 255);

  width: 90%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.arrtab{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  overflow: scroll;
  white-space: nowrap;

  
}
::-webkit-scrollbar{
  display: none;
}
.arrele{
  background-color: rgb(160, 69, 221);
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

.btnp{
  margin: 5px;
  padding: 5px;

  border-radius: 10px;
  background-color: rgb(160, 69, 221) ;
  color: white;
  cursor: pointer;
}
.btnq{
  margin: 5px;
  padding: 3px 5px;

  border-radius: 10px;
  background-color: white ;
  color:  rgb(160, 69, 221);
  cursor: pointer;
}
.visulas{
  max-width: 98%;
  overflow: scroll;
  zoom: 100%;
}

.lvl{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* overflow: scroll; */
}

.binarytreecont{
  width: fit-content;
  /* overflow: scroll; */
  /* white-space: nowrap; */
  /* max-width: 98%; */
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inputbox{
  width: 80%;
  padding: 3px;
  margin: 5px;
  font-size: 1.3rem;
  border-radius: 8px;
}
.range{
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
}
::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(160, 69, 221) ;
  cursor: pointer;
}

.zoomcont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  opacity: 50%;
  margin-top: auto;
}
